/* 
Orange: DF4601
Black: 090B0B
White: FFFFFC
 */
/* ===== BASE STYLES ===== */
body {
    /* TODO: Set font-family, font-size, color (black), 
    margin for entire page */
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
    color: #090B0B;
    margin: 0;


}

/* ===== HEADER + footer ===== */
header,
footer {
    /* TODO: Style header with background-color (black), color (white), 
    text-align, padding -- 
    footer is comma deliniated because it takes the same styles*/

background-color: #090B0B;
color: #FFFFFC;
text-align: center;
padding: 2em;

}

.date-time {
    /* TODO: Make the date-time orange, uppercase, and bold */
    text-transform: uppercase;
    color: #DF4601;
    font-weight: bold;
    text-align: center;
}
.ticket-button {
    background-color: #090B0B;
    color:#FFFFFC;
    padding: 1em 2em;
    display: block;
    width:fit-content;
    margin: 30px auto;
    border-radius: 4px;
    font-weight:bold;
    text-decoration: none;

}
.first-pitch-box {
    background-color: #DF4601;
    color:#FFFFFC;
    text-align:center;
    padding: 20px;
    margin: 30px;
}  
.first-pitch-box p {
    text-align: center;
}
.first-pitch-box h3 {
    margin-bottom: 5px;
   
} 
.ticket-price{
    text-align: center;
    margin-top: 10px;
    font-style: italic
}
p {text-align: left;}
a {
font-weight: bold;
color:#090B0B
}

/* ===== MAIN CONTENT ===== */
h2 {
    /* TODO: Style the h2 (orange) -- 
    this will carry thru to all h2 elements, including the header*/
    color: #DF4601;

}

main {
    /* TODO: Add margin to main content area */
    margin: 2em;

}

a {
    /* TODO: Style links throughout the page (color, font-weight) */
}

.intro {
    /* TODO: Set font-size for lead-in paragraph to 1.25x the body font size (em) */

}

/* ===== TICKETS SUBSECTION (BUTTON) ===== */
.tickets {
    /* TODO: Set line-height to 2, text-align center, and add margin (top and bottom) */
}

.tickets a {
    /* TODO: Sets styling for button link - add padding (all sides), 
    background-color, color, and text-decoration (none) */
}

/* ===== GAME DETAILS SECTION (ORANGE BOX) ===== */
.game-details {
    /* TODO: Style the game-details section with orange background, white text, 
    centered alignment, padding, and margin */
}

/* ===== FAQs SECTION ===== */
.faq {
    /* TODO: Add an orange left border and padding to the list section */
    border-left: 2px solid #DF4601;
    padding: 2em;

}