body {
    background-color: #c3d7f7;
    color: #000000;
    font-family: "Google Sans Flex", sans-serif;
    font-size: 17px;
    line-height: 1.6;
}

h1 {
    font-family: "Prompt", sans-serif;
    font-size: 5em;
    font-weight: 800;
    color: #000000;
    margin-top: 2em;
    margin-bottom: 1em;
    text-align: center;
}

h1 span {
    font-weight: 500;
    letter-spacing: 2px;
    color: #F7F7F7;
}

header {
    text-align: center;
}

section {
    margin: 3em 0;
    display: flex;
    justify-content: center;
}

main em {
    color: #919191;
    font-size: 0.75em;
    display: block;
}

.byline {
    color: #919191;
    font-size: 0.75em;
    display: block;
    margin-bottom: 0.75em;
}

.first-section .container-fluid{
    width: 80%
}

footer {
    color: #919191;
    font-size: 0.75em;
    display: block;
    text-align: center;
    padding: 2em 0;
}

@media (max-width: 550px) {
    h1 {
        font-size: 3em;
    }

    .container,
    .container-fluid {
        width: 95%
    }

    section {
        margin: auto;
    }

    .photo-grid {
        margin: 2em 0;
    }