body {
    background-color: #000;
    color: #F7F7F7;
    font-family: "Google Sans Flex", sans-serif;
    font-size: 17px;
    line-height: 1.6;
}

a {
    color: #F7F7F7;
}

h1 {
    font-family: "Prompt", sans-serif;
    font-size: 5em;
    font-weight: 300;
    color: #d3d3d3;
    margin-top: 0.5em;
    margin-bottom: 1em;
    text-align: center;
}

h1 span {
    font-weight: 500;
    letter-spacing: 2px;
    color: #F7F7F7;
}

header {
    text-align: center;
}

header img:{
    margin-top: 2em;
    width: 60px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.container {
    width: 45%;
    max-width : 45%;
}

.container-fluid {
    width: 70%;
}

section {
    margin: 3em 0;
    display: flex;
    justify-content: center;
}

section.photo-grid {
    display: block;
}
section.landsat-gallery{
    display: block;
    margin: 0;
}
main em {
    color: #919191;
    font-size: 0.75em;
    display: block;
}

.byline {
    color: #919191;
    font-size: 0.75em;
    display: block;
    margin-bottom: 0.75em;
}

.photo-grid {
    background-color: #000;
    color: #F7F7F7;
    padding: 3em 0;
    margin: 3em 0;
}

.photo-grid em {
    display: block;
    text-align: right;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #919191;

}

.landsat-gallery{
   margin:0;
}



.first-section .container-fluid{
    width: 80%
}



.photo-grid p{
    font-style: normal;
    font-size: 1em;
    color: white;
}

.landsat-gallery .photo-grid{
    background-color: #F7F7F7;
    color: #000;
}

.landsat-gallery .photo-grid em{
    color: #555;
}
.landsat-gallery .photo-grid p{
    color: #000;
}

footer {
    color: #919191;
    font-size: 0.75em;
    display: block;
    text-align: center;
    padding: 2em 0;
}

@media (max-width: 550px) {
    h1 {
        font-size: 3em;
    }

    .container,
    .container-fluid {
        width: 95%
    }

    section {
        margin: auto;
    }

    .photo-grid {
        margin: 2em 0;
    }